<nav class="container-fluid navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#hkpnav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path("hp_portal") }}"><i class="fa fa-key"></i> HKPeter</a>
    </div>

    <div class="collapse navbar-collapse" id="hkpnav">
        <div class="row">
            <ul class="col-md-4 text-left nav navbar-nav">
                <li><a href="{{ path('hp_portal_post') }}"><i class="fa fa-plus"></i> add keys</a></li>
            </ul>
            <form class="col-md-4 navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="filter keys">
                </div>
            </form>
            <ul class="col-md-4 navbar-right nav navbar-nav">
                <li><a href="#"><i class="fa fa-plus"></i> do nothing</a></li>
                <li><a href="#"><i class="fa fa-plus"></i> show cart</a></li>
            </ul>
        </div>
    </div>
</nav>
