<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}HKPeter{% endblock %}</title>

    {% stylesheets "@bootstrap_css" "@fontawesome_css"
        "@elseymHKPeterBundle/Resources/static/css/screen.css" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>{% endstylesheets %}
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    {% include "elseymHKPeterBundle:layout:navigation.html.twig" %}

    {% block content %}{% endblock %}
</div>
{% javascripts "@jquery_js" "@bootstrap_js"
    "@elseymHKPeterBundle/Resources/vendor/jquery.tablesort/jquery.tablesort.min.js"
    "@elseymHKPeterBundle/Resources/static/js/main.js"
%}<script src="{{ asset_url }}"></script>{% endjavascripts %}
</body>
</html>
